<!DOCTYPE html>
<html>
<head>
  <title>W09DungeonsPrejudiceZombies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <p>Logged in as <%= current_user.name %></p>
    <p><%= link_to "Logout", logout_path %></p>
  <% else %>
    <p>Not logged in</p>
    <p><%= link_to "Login", login_path %></p>
  <% end %>


<%= yield %>

</body>
</html>
